.x {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.text {
  font-size: 20rem;
  font-weight: 400;
  color: white;
}
.imag {
  height: 97%;
  position: absolute;
  z-index: 999;
  max-width: 100%;
}
@media screen and (max-width: 991px) {
 .text{
  display: flex;
  justify-content: space-around;
 }
  .imag {
    height: 50%;
  }
  .one {
    font-size: 7.5rem;
    left: 2rem;
    position: absolute;
    bottom: 5rem;

  }
  .two {
    font-size: 7.5rem;
    
    position: absolute;
    bottom: 5rem;
left: 12rem;
  }
}
