.hero_text_outer {
  position: relative;
  background-color: black;
  height: 100vh;
}
.hero_text_animation{
    color: white;
    font-family: 'gilroy';
}


@keyframes gradient-text-animation {
  from {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}
.hero_text_animation.custom_color {
      background: linear-gradient(
            240deg,
            #00A3FF,
            #5768df,
            #00A3FF,
            #1b0f57,
            rgb(55, 0, 255)
          );
          background-size: 200%;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          animation: gradient-text-animation 4s alternate infinite;
    }




.hero_text {
  font-size: 70px;
  top: 3rem;
  font-style: normal;
  font-weight: 300;
  width: 710px;
  color: white;
  left: 3rem;
  line-height: 108.92%;
  letter-spacing: 1.44px;
  position: absolute;
  text-transform: capitalize;
  font-family: 'gilroy';
}
.hero_small_text {
  position: absolute;
  bottom: 140px;
  color: white;
  width: 440px;
  font-family: "gilroy";
  left: 300px;
}
/* @media (min-width: 1600px) {
  .hero_text {
    font-size: 109px;
    font-style: normal;
    font-weight: 300;
    width: 37%;
    top: 6rem;
    line-height: 108.92%;
    letter-spacing: -1.56px;
    position: absolute;
  }
} */


@media (max-width: 787px){
  .hero_text {
    font-size: 66px;
    top: 25rem;
    font-style: normal;
    font-weight: 300;
    /* width: 37%; */
    color: white;
    left: 1rem;
    line-height: 108.92%;
    letter-spacing: -1.56px;
    position: absolute;
  }
}



@media (max-width: 575px){
  .hero_text {
    font-size: 53px;
    top: 30rem;
    font-style: normal;
    font-weight: 300;
    width: 87%;
    color: white;
    left: 2rem;
    line-height: 108.92%;
    letter-spacing: -1.56px;
    position: absolute;
  }
}

