.roller-text {
  font-size: 15rem;
  text-align: center;
  color: white;
  font-family: "FONTSPRING-black";
  /* font-style: normal; */
  text-transform: lowercase;
}
.roller-text.xyz {
  font-family: "FONTSPRING-conMediumItalic";
  font-weight: 550;
}
@media screen and (max-width: 991px) {
  .roller-text {
    font-size: 68px;
  }
  .xyz {
    margin-top: 10rem;
  }
}
