.testimonialText {
  width: 28%;
  color: #717171;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 43px;
}
.testimonialText_heading {
  margin: 0 0 72px;
}
@media (max-width: 991px) {
  .testimonialText_heading {
    margin: 0 0 56px;
  }
  .testimonialText {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .testimonialText_heading {
    margin: 0 0 40px;
  }
  .testimonialText {
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
  }
}
