.animatedText {
  padding: 50px 0;
}
@media (max-width: 991px) {
  .animatedText span {
    font-size: 35px;
  }
  .text_line {
    line-height: 60px;
  }
}
@media (max-width: 767px) {
  .animatedText span {
    font-size: 25px;
  }
  .text_line {
    line-height: 50px;
  }
}
@media (max-width: 575px) {
  .animatedText span {
    font-size: 20px;
  }
  .text_line {
    line-height: 35px;
  }
}
@media (max-width: 450px) {
  .animatedText span {
    font-size: 17px;
  }
  .text_line {
    line-height: 30px;
  }
}

.animatedText span {
  font-family: "FONTSPRING";
}
