.main {
  display: flex;
  height: 120vh;
  align-items: end;
  justify-content: center;
  /* font-family: "FONTSPRING"; */
  padding: 0 0 20rem;
}

.body {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.body p {
  font-size: 3.6vw;
  margin: 0px;
  margin-right: 1.5vw;
  font-weight: 700;
}

.body span {
  opacity: 0.4;
}
@media (max-width: 991px) {
  .main {
    height: 75vh;
  }
}
@media (max-width: 767px) {
  .main {
    height: 50vh;
    align-items: end;
  }
  .body {
    width: 80%;
  }
}
