.main {
  display: flex;
  height: 140vh !important;
  align-items: end;
  justify-content: center;
  padding: 0 0 20rem;
}

.body_text {
  width: 77%;
  display: flex;
  transition: 0.3s ease;
  flex-wrap: wrap;
}

.body_text p {
  font-size: 3.4vw;
  margin: 0px;
  margin-right: 1.4vw;
  /* font-weight: 700; */
}

.body_text span {
  opacity: 0.3;
}





@media (max-width: 991px) {
  .main {
    height: 110vh !important;
    padding: 0 0 0 !important;
  }
  .body_text p {
    font-size: 4vw;
    margin: 0px;
    margin-right: 1.4vw;
    /* font-weight: 700; */
  }
}
@media (max-width: 767px) {
  .main {
    height: 60vh !important;
    align-items: end;
    padding: 0 0 0 !important;
  }
  .body_text {
    width: 80%;
  }
  .body_text p {
    font-size: 4vw;
    margin: 0px;
    margin-right: 1.4vw;
    /* font-weight: 700; */
  }
}
