.amaz {
  background-color: #000000;
  color: #fff;
  padding: 0 0 200px !important;
  height: 70vh !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.amazing_aniz {
  overflow: hidden;
  background-color: #000000;
}
.wrapperz {
  position: relative;
}

.yearz .t1z {
  font-size: 200px;
  line-height: 150px;
  font-family: "gilroy";
  opacity: 0;
  position: absolute;
  margin-bottom: 31px;
  right: -1rem;
  margin-left: 30px;
  transition: all 0.5s ease-out;
}
.t2z {
  font-size: 200px;
  line-height: 150px;
  margin-bottom: 31px;
  opacity: 0;
  position: absolute;
  left: 92rem;
  top: 9rem;
  font-family: "gilroy";
  margin-left: 30px;
  transition: all 0.5s ease-out;
}
.year_wrapperz {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1199px) {
  .yearz .t1z {
    font-size: 160px;
    line-height: 150px;
  }
  .yearz .t2z {
    font-size: 160px;
    line-height: 150px;
  }
}
@media screen and (max-width: 991px) {
  .yearz .t2z {
    font-size: 85px;
    right: 0;
    top: 7rem;
  }
  .yearz .t1z {
    /* position: absolute; */
    font-size: 85px;
    right: 0rem;
  }
}
@media (max-width: 767px) {
  .yearz .t2z {
    font-size: 60px;
    right: 0;
    top: 7rem;
  }
  .yearz .t1z {
    /* position: absolute; */
    font-size: 60px;
    right: 0rem;
  }
}
@media(max-width:476px){
  .yearz .t2z {
    font-size: 35px;
    right: 0;
    top: 7rem;
    line-height: 0;
  }
  .yearz .t1z {
    /* position: absolute; */
    font-size: 35px;
    right: 0rem;
  }
}
