.amaz {
  background-color: #000000;
  color: #fff;
  padding: 200px 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.amazing_aniz {
  overflow: hidden;
  background-color: #000000;
}
.wrapperz {
  position: relative;
}

.yearz .t1z {
  font-size: 230px;
  line-height: 150px;
  font-family: "FONTSPRING";
  opacity: 1;
  position: absolute;
  top: -13rem;
  right: 0rem;
  margin-left: 30px;
}
.t2z {
  font-size: 230px;
  line-height: 150px;
  margin-bottom: 31px;
  opacity: 1;
  position: absolute;
  left: 92rem;
  top: 3rem;
  font-family: "FONTSPRING";
  margin-left: 30px;
}
.year_wrapperz {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .year .t2z {
    font-size: 85px;
    left: 23rem;
    top: 7rem;
  }
  .year .t1z {
    position: absolute;
    font-size: 80px;
    right: 0rem;
  }
}

.bgTransition {
  min-height: 800px;
  position: relative;
  background-color: #7443ff;
  overflow: hidden;
}
.bgTransition_wrapper {
  display: flex;
  align-items: center;
  height: 100%;

  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.bgTransition_1 {
  width: 100%;
  background-color: #000;
  height: 100%;
  transition: all 1s ease-out;
}
/* .bgTransition_2 {
      width: 25%;
      background-color: #000;
      height: 100%;
      transition: all 0.5s;
    }
    .bgTransition_3 {
      width: 25%;
      background-color: #000;
      height: 100%;
      transition: all 0.5s;
    }
    .bgTransition_4 {
      width: 25%;
      background-color: #000;
      height: 100%;
      transition: all 0.5s;
    } */
