.hero_heading {
  margin: 200px 0 160px;
  background-color: #000;
  color: #fff;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.33); */
}
.hero_heading h1 {
  color: #fff;
  font-family: "FONTSPRING-bold";
  font-size: 189.062px;
  /* font-style: italic; */
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.hero_heading_section {
  /* position: fixed; */
  display: flex;
  z-index: 3;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
/* .body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
} */
.el {
  display: flex;
  justify-content: center;
  cursor: pointer;
  perspective: 50vw;
  transform-origin: top;
}

.el .outer .hero_heading_container:hover {
  opacity: 1;
}
.imageContainer {
  background-color: #d3fd50;
}
.imageContainer p {
  color: #000;
  text-transform: uppercase;
  font-family: "FONTSPRING-bold";
  font-size: 189.062px;
  font-weight: 700;
  text-transform: uppercase;
  animation: hero_heading_animation 8s linear infinite;
  line-height: 180px;
}
@keyframes hero_heading_animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.outer {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  will-change: top;
}
.inner {
  /* background-color: #d3fd50; */
  position: absolute;
  white-space: nowrap;
  height: 100%;
  top: 100%;
  display: flex;
  will-change: top;
  width: 100%;
}
.hero_heading_container {
  display: flex;
  align-items: center;
}

@media (max-width: 1199px) {
  .hero_heading h1 {
    font-size: 150px;
  }
  .imageContainer p {
    font-size: 150px;
    line-height: 160px;
  }
  .hero_heading {
    margin: 150px 0 110px;
  }
}
@media (max-width: 991px) {
  /* .hero_heading {
    padding: 150px 0 110px;
  } */
}
@media (max-width: 767px) {
  .hero_heading h1 {
    font-size: 120px;
  }
  .imageContainer p {
    font-size: 120px;
    line-height: 130px;
    margin: 0 0 10px;
  }
  /* .hero_heading {
    padding: 150px 0 110px;
  } */
}
@media (max-width: 575px) {
  .hero_heading h1 {
    font-size: 62px;
  }
  .imageContainer p {
    font-size: 62px;
    line-height: 70px;
    
  }
  .hero_heading {
    margin: 80px 0 60px;
  }
}
