.servicesCard {
  position: relative;
  height: 400vh;
}
.servicesCard_wrapper {
  display: flex;
}
.servicesCard_wrapper img{
  margin: 0 20px;
}
.servicesCard_inner {
  position: sticky;
  top: 10%;
  display: flex;
  overflow: hidden;
}
