.testimonial_slider {
  width: 60%;
  position: relative;
}
.testimonial_slider::before {
  content: "";
  background-image: url("../../../images/quotes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 73px;
  height: 73px;
  left: -115px;
}
.testimonial_slide_heading_sec {
  display: flex;
  padding-bottom: 51px;
  border-bottom: 1px solid #d9d9d9;
}

.testimonial_slide img {
  max-width: 100%;
  width: 73px;
  height: 73px;
}
h3.testimonial_slider_heading {
  color: #000;
  font-family: "gilroy";
  font-size: 46.56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  margin: 0;
}

.testimonial_slider_client {
  display: flex;
  align-items: center;
}
.testimonial_slider_client_name{
  font-family: "Inter";
  font-weight: 600;
  color: #000;
  font-size: 20px;
  font-family: "gilroy";
}
.testimonial_slider_client_data {
  margin-left: 24px;
}
.testimonial_slider_client_content{
  font-size: 18px;
  font-weight: 400;
  font-family: "gilroy";
}
.testimonial_slider_client_image img {
  border-radius: 100%;
}
.testimonial_slider_client {
  margin: 35px 0 0;
}
.prevBtn img {
  transform: rotate(180deg);
}

.testimonial_slider_wrapper .swiper-slide {
  height: 100%;
}
.testimonial_swiper_slider {
  position: relative;
}
.nextBtn {
  position: absolute;
  right: 0;
  bottom: 6%;
  z-index: 5;
  cursor: pointer;
}
.prevBtn {
  position: absolute;
  right: 50px;
  bottom: 6%;
  z-index: 5;
  cursor: pointer;
}
h3.testimonial_slider_heading img {
  display: none;
}
.testimonial_slide{
    margin-right: 10px;
}
@media (max-width: 1199px) {
  h3.testimonial_slider_heading {
    font-size: 40px;
  }
  .testimonial_slider::before {
    width: 60px;
    height: 60px;
    left: -98px;
  }
  .testimonial_slider {
    width: 57%;
  }
}
@media (max-width: 991px) {
  .testimonial_slider::before {
    width: 46px;
    height: 46px;
    left: -70px;
  }
  h3.testimonial_slider_heading {
    font-size: 38px;
  }
}
@media (max-width: 767px) {
  .testimonial_slider {
    width: 100%;
  }
  h3.testimonial_slider_heading {
    font-size: 35px;
    display: flex;
  }
  h3.testimonial_slider_heading img {
    width: 40px !important;
    height: 40px !important;
    margin-right: 10px;
    display: block;
  }
  .testimonial_slider::before {
    width: 35px;
    height: 35px;
    left: 0;
    content: none;
  }
}
@media (max-width: 500px) {
  .testimonial_slide img {
    max-width: 100%;
    width: 73px !important;
    height: 73px !important;
  }
  .testimonial_slider_wrapper .swiper-slide {
    height: 100% !important;
  }
  .nextBtn {
    display: none;
  }
  .prevBtn {
    display: none;
  }
}
