.contact_content {
  border-top: 1px solid #4f4f4f;
}

.contact_content_left_heading {
  color: #4f4f4f;
  font-family: "Plus Jakarta Sans";
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 0 35px;
}
.contact_content_right_heading {
  color: #4f4f4f;
  font-family: "Plus Jakarta Sans";
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 0 35px;
}

.contact_content_left {
  width: 276px;
  padding: 0 10px;
  margin: 35px 0px 50px;
}
.contact_content_right {
  width: 276px;
  padding: 0 10px;
}
.contact_content_left_text {
  color: #fff;
  font-family: "Plus Jakarta Sans";
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact_content_right_text {
  color: #fff;
  font-family: "Plus Jakarta Sans";
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact_content_left_mail {
  margin: 37px 0 0;
}
.contact_content_left_mail a {
  background-color: #4587b7;
  color: rgb(0, 0, 0);
  border-radius: 74px;
}
.hover_btn a {
  display: inline-block;
  height: 40px;
  line-height: 35px;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: 0.3s;
}
span.btn_text {
  display: block;
  margin: 0px 20px;
  height: 100%;
  position: relative;
  top: 0%;
  transition: 0.3s;
  color: white;
  background-color: transparent;
}
.contact_content_left_mail a:hover .btn_text {
  top: -100%;
}

@media (max-width: 991px) {
  .contact_content_left {
    width: 276px;
    padding: 0 0px;
    margin: 35px 0px 50px;
  }

  .contact_content_left_text {
    font-size: 18px;
  }
  .contact_content_right_text {
    font-size: 18px;
  }
  .contact_content_left_heading {
    margin: 0 0 20px;
  }
  .contact_content_right_heading {
    margin: 0 0 20px;
  }
  .contact_content_left_mail a {
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  .contact_content_left {
    width: 100%;
    padding: 0 0px;
    margin: 35px 0px 50px;
  }
}
