.services_text_sec {
  min-height: 100vh;
}
.services_text {
  font-size: 7rem !important;
  text-align: center;
  color: white;
  width: 100% !important;
}
@media screen and (max-width: 991px) {
  .services_text {
    font-size: 68px !important;
  }
  .services_text_sec {
    min-height: 100%;
  }
  .xyz {
    /* margin-top: 10rem; */
    /* width: 100% !important; */
  }
}
