.mainxx{
  position: relative;
  display: flex;
  height: 130vh;
  background-color: black;
  /* margin-bottom: 60vh; */

  overflow: hidden;
}

.sliderx{
  position: relative;
  white-space: nowrap;
}
.sliderContainerx{
  margin-top: 5rem;
}

.sliderx p{
  position: relative;
  margin: 0px;
  color: white;
  font-size: 120px;
  font-weight: 400;
  /* padding-right: 50px; */
}

.sliderx p:nth-of-type(2){
  position: absolute;
  left: 100%;
  top: 0;
}

@media screen and (max-width: 991px){

  .sliderx p{
        position: relative;
        margin: 0px;
        color: white;
        font-size: 40px;
        font-weight: 500;
        padding-right: 50px;
      }


      .mainx{
        position: relative;
        display: flex;
        height: auto !important;
        margin-bottom: 60vh;
        overflow: hidden;
      }
}