.mainxx {
  position: relative;
  /* display: flex; */
  height: 130vh;
  background-color: black;
  /* margin-bottom: 60vh; */

  overflow: hidden;
}

.sliderx {
  position: relative;
  white-space: nowrap;
}
.sliderContainerx {
  margin-top: 5rem;
  overflow: hidden;
}

.sliderx p {
  position: relative;
  margin: 0px;
  color: white;
  font-size: 127px;
  font-weight: 500;
  font-family: "FONTSPRING";
  /* padding-right: 50px; */
  width: 100%;
}

.sliderx p:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}
@media (max-width: 1600px) {
  .sliderx p {
    font-size: 100px;
  }
}
@media (max-width: 1440px) {
  .sliderx p {
    font-size: 90px;
  }
}
@media (max-width: 1199px) {
  .sliderx p {
    font-size: 75px;
  }
}
@media screen and (max-width: 991px) {
  .sliderx p {
    font-size: 60px;
  }

  .mainx {
    position: relative;
    display: flex;
    height: auto !important;
    margin-bottom: 60vh;
    overflow: hidden;
  }

  .mainxx {
    height: 60vh;
  }
}
@media (max-width: 767px) {
  .mainxx {
    height: 50vh;
  }
  .sliderx p {
    font-size: 40px;
  }
}

