.internal_5th_img_outer {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}
.internal_5th_img {
  width: 100%;
}
.internal_5th_1 {
  width: 48%;
}
.internal_5th_img_text {
  color: white;
  margin-top: 1rem;
  width: 80%;
  font-family: "gilroy";
  font-weight: 100;
}

@media (max-width: 767px) {
  .internal_5th_img_text {
    color: white;
    width: 100%;
    margin-top: 1rem;
    font-size: 12px;
    font-family: "gilroy";
    font-weight: 100;
  }
  .internal_5th_img_outer {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}
}

@media (max-width: 991px) {
  .internal_5th_img_text {
    color: white;
    margin-top: 1rem;
    width: 100%;
    font-size: 12px;
    font-family: "gilroy";
    font-weight: 100;
  }
  .internal_5th_img_outer {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}
}
