.internal_5th_img_outer {
      display: flex;
      justify-content: space-between;
      margin: 40px 0;
    }
    .internal_5th_img {
      width: 100%;
    }
    .internal_5th_1 {
      width: 48%;
    }
    .internal_5th_img_text {
      color: white;
      margin-top: 1rem;
      width: 80%;
      font-family: "FONTSPRING";
      font-weight: 100;
    }