.footer-buttonx {
  display: flex;
  align-items: center;
  padding: 9px 26px;

  border-radius: 21px;
  transition: opacity 0.15s ease-out;
  overflow: hidden;
  background-color: transparent;
  font: 500 16px/1.2 Inter;
  color: #242424;
  letter-spacing: -0.03em;
  margin-block: 40px 10px;
  border: 1px solid white;
}
.get-in-touch {
  color: #656565;
  font-size: 20px;
}
.together {
  font-size: 2.3rem;
  max-width: 230px;
}
.common-card-text {
  margin-block: 60px -30px;

  font-size: 6rem;
}

.footer-button-textx {
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: white;
  display: flex;

  flex-direction: column;
  height: 1.2em;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.footer-button-icon {
  margin-left: 8px;
  position: relative;
  z-index: 1;
}
.second {
  padding: 17px 28px;
  background-color: #1f1f1f;
  border-radius: 31px;
  color: white;
}
.first {
  padding: 60px 60px;
}
.third {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer-button {
    max-width: 100%;
    width: 100%;
    justify-content: center;
    margin-bottom: 0;
  }
  .first {
      padding: 19px 20px;
  }
  .common-card-text {
    font-size: 4.5rem;
    margin-block: 30px -15px;
  }
  .together{
      font-size: 2rem;
  }
}
