.rectangleCard_btn {
  background-color: transparent !important;
  margin-block: 20px 10px;
  font-family: "gilroy";
}
.get-in-touch {
  color: #656565;
  font-size: 20px;
}
.together {
  font-size: 2rem;
  max-width: 230px;
  font-family: "gilroy";
}
.common-card-text {
  margin: 20px 0 30px;
    font-family: "gilroy";
    font-weight: 600;
    font-size: 90px;
}

.rectangle-button-text {
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: flex;

  flex-direction: column;
  height: 1.2em;
  overflow: hidden;
  position: relative;
  z-index: 3;
  margin-right: 9px;
}
.rectangle-button-icon {
  margin-left: 8px;
  position: relative;
  z-index: 1;
}
.rectangle-button-icon img {
  width: 15px;
  height: 10px;
}
.second {
  padding: 40px;
  background-color: #1f1f1f;
  border-radius: 31px;
  color: white;
}
.first {
  padding: 60px 60px;
}
.third {
  display: flex;
  justify-content: space-between;
}
.box_arrow img {
  width: 22px;
  height: 18px;
}
.arrow_icon img{
  width: 15px;
}
@media(max-width:1199px){
  .common-card-text {
      font-size: 80px;
  }
}
@media(max-width:991px){
  .common-card-text {
      font-size: 70px;
  }
}

@media screen and (max-width: 768px) {
  .footer-button {
    max-width: 100%;
    width: 100%;
    justify-content: center;
    margin-bottom: 0;
  }
  .first {
    padding: 19px 20px;
  }
  .common-card-text {
    font-size: 45px;
    margin: 20px 0 30px;
  }
  .together {
    font-size: 2rem;
  }
}
