/* .internal_4th_header {
  background-color: #000;
}

.internal_4th_header_container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

.internal_4th_header_outer {
  padding: 88px 0;
} */
.servicesBigText {
  padding: 0 0 40px;
}

.servicesBigText .wrapper {
  min-height: 60vh !important;
  height: 100%;
  align-items: end;
  justify-content: center;
  padding: 120px 0 0 30px !important;
}
.servicesBigText .inner {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  position: static;
}
.servicesBigText .inner p {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}
.servicesBigText .inner p span {
  color: white;
  font-size: 118px;
  font-family: "FONTSPRING";
  line-height: 116px;
  font-weight: 400;
  text-align: left;
  margin: 0 3px;
  opacity: 0.3;
}
/* @media (max-width: 1360px) {
  .internal_4th_header_container {
    max-width: 1199px;
  }
} */
@media (max-width: 1199px) {
  .servicesBigText .inner p span {
    font-size: 90px;
    font-family: "FONTSPRING";
    line-height: 100px;
  }
}
@media (max-width: 991px) {
  /* .internal_4th_header_container {
    max-width: 767px;
  }
  .internal_4th_header_text {
    font-size: 90px;
    line-height: 105px;
  } */
  .servicesBigText .inner p span {
    font-size: 70px;
    line-height: 85px;
    margin: 0 2px;
  }
  .servicesBigText {
    padding: 0 0 20px;
  }
}
@media (max-width: 767px) {
  /* .internal_4th_header_container {
    max-width: 100%;
  }
  .internal_4th_header_text {
    font-size: 31px;
    line-height: 49px;
    margin: 0 10px;
  }
  .internal_4th_header_outer {
    padding: 25px 0px;
  } */
  .servicesBigText .inner p span {
    font-size: 40px;
    line-height: 50px;
    margin: 0;
  }
  .servicesBigText .wrapper {
    padding: 120px 0 0 0 !important;
  }
  .servicesBigText {
    padding: 0;
  }
}
