.amazing {
  background-color: #000;
  color: #fff;
}

.progress-bar {
  background-color: red;
}
.amazing_heading h2 {
  font-family: "FONTSPRING-black";
  font-size: 89.971px;
  font-weight: 850;
  text-transform: uppercase;
}
