.innercloud_sec_outer{
display: flex;
margin-top: 2rem;
padding: 0 85px;
}
.innercloud_sec_inner_one{
width: 30%;
margin: 0 6px;
}
.innercloud_sec_inner_one .rightSlider{
      width: 100%;
      color: white;
      height: 100%;
}
.innercloud_sec_inner_two{
width: 70%;
margin: 0 50px;
}