.internal2_img_outer {
      text-align: center;
      margin-top: 50px;
    }
    .internal2_img {
      width: 90%;
    }
    .internal2_img_text_outer {
      width: 50%;
      text-align: initial;
      margin-top: 2rem;
      margin-left: 8rem;
    }
    .internal2_img_text {
      font-size: 19px;
      color: white;
      font-family: "FONTSPRING";
      font-weight: 300;
    }
    .internal2_4th_section{
      display: flex;
      margin-top: 4rem;
    }
    .internal2_4section_text{
      font-size: 136px;
      font-family: "FONTSPRING";
      line-height: 1;
      color: white;
    }
    .internal2_4section_text{
      margin: 22px 112px;
    }
    .internal2_4section_image_container{
      margin-right: 115px;
    }
    .common_button_custom{
      background-Color:#735b9f;
      width:232px;
      margin:40px 125px;
    }
    .innerbutton_custon_spacing{
      margin: 38px 38px;
    }