.leftImageRightSliderImage {
  padding: 100px 0;
  background-color: #000;
  color: #fff;
}
.leftImageRightSliderImage_container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}
.leftImageRightSliderImage_wrapper {
  display: flex;
  justify-content: space-between;
}
.leftImageRightSliderImage_right_top {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px 20px;
}
.leftImageRightSliderImage_right_bottom {
  display: flex;
  justify-content: space-between;
  margin: 20px -10px 0;
}
.leftImageRightSliderImage_right_bottom .rightSlider {
  margin-right: 0;
}
.rightSlider {
  width: 50%;
  /* background-color: #1e1e1e;
  border-radius: 15px; */
  padding: 0 10px;
}
.rightSlider_wrapper {
  padding: 47px 20px 20px;
}
.rightSlider_wrapper_title {
  font-family: "gilroy";
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 20px;
}
.rightSlider_wrapper_content {
  font-family: "gilroy";
  font-size: 14px;
  font-weight: 400;
}
.rightSlider_prev img {
  transform: rotate(180deg);
  cursor: pointer;
}
.rightSlider_next img {
  cursor: pointer;
}
.rightSlider_wrapper_counter_and_btns {
  padding: 0 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.rightSlider_btns {
  display: flex;
}
.rightSlider_prev {
  margin-right: 5px;
}
.rightSlider_next {
  margin-left: 5px;
}
.slider_counter {
  background: white;
  color: black;
  border-radius: 12px;
  padding: 0 10px;
  font-weight: 600;
}
.leftImage {
  /* margin-right: 20px; */
  width: 49%;
}
.leftImage img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 28px;
}
.leftImageRightSliderImage_right {
  width: 49%;
}
.rightSliderImage {
  width: 50%;
  padding: 0 10px;
}
.rightSliderImage img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  border-radius: 28px;
}
.swiper.swiper-initialized.swiper-horizontal.rightSlider_inner.swiper-backface-hidden {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #1e1e1e;
  border-radius: 28px;
}
@media (max-width: 1199px) {
  .leftImageRightSliderImage_container {
    max-width: 991px;
  }
}
@media (max-width: 991px) {

  .leftImageRightSliderImage {
    padding: 20px 0;
    background-color: #000;
    color: #fff;
  }
  .leftImageRightSliderImage_container {
    max-width: 767px;
  }
  .leftImageRightSliderImage_wrapper {
    flex-direction: column;
  }
  .leftImage {
    width: 100%;
    margin: 0 0 40px;
  }
  .leftImage img {
    width: 100%;
  }
  .leftImageRightSliderImage_right {
    width: 100%;
  }
  .rightSliderImage img {
    width: 100%;
  }
  .rightSliderImage {
    width: 50%;
  }
  .rightSlider {
    width: 50%;
  }
}
@media (max-width: 767px){
  .leftImageRightSliderImage {
    padding: 20px 0;
    background-color: #000;
    color: #fff;
  }
}

@media (max-width: 646px) {
  .leftImageRightSliderImage_right_top {
    flex-direction: column-reverse;
  }
  .leftImageRightSliderImage_right_bottom {
    flex-direction: column;
  }
  .rightSlider {
    width: 100%;
    margin: 0;
  }
  .rightSliderImage {
    width: 100%;
    margin: 0 0 20px;
  }
  .leftImageRightSliderImage_right_bottom .rightSlider {
    margin-left: 0;
    margin-right: 0;
  }
}
