.contact_us_page {
  background-color: #111;
  color: #fff;
}
.contact_us_page_container {
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}
.form_wrapper_section {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;
}

.form_wrapper_left {
  width: 47%;
  padding: 0 10px;
}
.form_wrapper_right {
  width: 47%;
  padding: 0 10px;
}
@media (max-width: 1199px) {
  .contact_us_page_container {
    max-width: 991px;
  }
}
@media (max-width: 991px) {
  .contact_us_page_container {
    max-width: 767px;
  }
}
@media (max-width: 767px) {
  .contact_us_page_container {
    max-width: 100%;
  }
  .form_wrapper_section {
    display: flex;
    flex-direction: column;
  }
  .form_wrapper_left {
    width: 100%;
    margin: 0 0 20px;
  }
  .form_wrapper_right {
    width: 100%;
  }
}
