@font-face {
  font-family: "gilroy";
  src: local("gilroy"), url("./font/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "gilroy-bold";
  src: local("gilroy-bold"), url("./font/Gilroy-Bold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "gilroy-bold-italic";
  src: local("gilroy-bold-italic"),
    url("./font/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: normal;
}

::-webkit-scrollbar {
  width: 6px;
 
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 0px solid transparent;
  background-clip: content-box;
}

/* Hide scrollbar for IE, Edge and Firefox */

@font-face {
  font-family: "gilroy-black";
  src: local("gilroy-black"), url("./font/Gilroy-Black.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "gilroy-medium";
  src: local("gilroy-medium"),
    url("./font/Gilroy-Medium.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "gilroy-conMediumItalic";
  src: local("gilroy-conMediumItalic"),
    url("./font/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "gilroy-light";
  src: local("gilroy-light"), url("./font/Gilroy-Light.ttf") format("truetype");
  font-weight: normal;
}

.common_container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 1600px) {
  .common_container {
    max-width: 1340px;
  }
}
@media (max-width: 1340px) {
  .common_container {
    max-width: 1199px;
  }
}
@media (max-width: 1199px) {
  .common_container {
    max-width: 991px;
  }
}
@media (max-width: 991px) {
  .common_container {
    max-width: 767px;
  }
}
@media (max-width: 767px) {
  .common_container {
    max-width: 100%;
  }
}
