@font-face {
    font-family: "FONTSPRING";
    src: local("FONTSPRING"),
      url("./fonts/Fontspring-DEMO-freigeist-conregular.otf") format("truetype");
    font-weight: normal;
  }
@font-face {
    font-family: "FONTSPRING-bold";
    src: local("FONTSPRING-bold"),
      url("./fonts/Fontspring-DEMO-freigeist-conbolditalic.otf") format("truetype");
    font-weight: normal;
  }
@font-face {
    font-family: "FONTSPRING-bold-italic";
    src: local("FONTSPRING-bold-italic"),
      url("./fonts/Fontspring-DEMO-freigeist-bolditalic.otf") format("truetype");
    font-weight: normal;
  }
 
@font-face {
    font-family: "FONTSPRING-black";
    src: local("FONTSPRING-black"),
      url("./fonts/Fontspring-DEMO-freigeist-black.otf") format("truetype");
    font-weight: normal;
  }
 