.servicesCard {
  background-color: #000;
  height: 420vh;
  padding: 200px 0 0;
}
.servicesText {
  transition: all 0.5s;
  position: absolute;
  top: -130%;
}
.servicesText h2 {
  font-size: 60px;
  font-family: "FONTSPRING";
  transition: all 0.5s;
}
.services_card_mobile {
  display: none;
}
.work2 {
  position: relative;
  padding: 150px 0;
  background-color: #000;

  display: block;
}
.gallery_box {
  position: absolute;
  left: 50%;
  /* top: 50%; */
  /* transform: translate(-50%, -50%) rotateX(-8deg); */
  transform: translateX(-50%);
  /* transition: all 0.5s; */
  /* transform-style: preserve-3d; */
  /* height: 200vh; */
}
.gallery_box_outer {
  width: 300px;
  height: 200px;
  position: relative;
  transform: perspective(1000px);
  transform-style: preserve-3d;
  display: flex !important;
  justify-content: space-between !important;
  transition: all 0.3s;
}
.gallery_box_in {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center center;
  background-size: cover;
  transition: all 0.3s;
  transform: translateZ(450px);
}
.gallery_box_in img {
  max-width: 100%;
}

.gallery_box_in:nth-child(1) {
  transform: rotateY(0deg) translateZ(550px);
}
.gallery_box_in:nth-child(2) {
  transform: rotateY(42.8deg) translateZ(550px);
}
.gallery_box_in:nth-child(3) {
  transform: rotateY(85.6deg) translateZ(550px);
}
.gallery_box_in:nth-child(4) {
  transform: rotateY(128.4deg) translateZ(550px);
}
.gallery_box_in:nth-child(5) {
  transform: rotateY(171.2deg) translateZ(550px);
}
.gallery_box_in:nth-child(6) {
  transform: rotateY(214deg) translateZ(550px);
}
.gallery_box_in:nth-child(7) {
  transform: rotateY(256.8deg) translateZ(550px);
}
.gallery_box_in:nth-child(8) {
  transform: rotateY(299.6deg) translateZ(550px);
}
.servicesCardText {
  text-align: center;
  color: white;
}
/* .gallery_box_in:nth-child(7) {
  transform: rotateY(240deg) translateZ(450px);
}
.gallery_box_in:nth-child(8) {
  transform: rotateY(280deg) translateZ(450px);
}
.gallery_box_in:nth-child(9) {
  transform: rotateY(320deg) translateZ(450px);
} */
@media (max-width: 1600px) {
  .servicesCard {
    height: 410vh;
  }
  .servicesText {
    top: -100%;
  }
}
@media(max-width:1550px){
  .servicesCard {
    height: 485vh;
  }
}
@media (max-width: 1440px) {
  .gallery_box_in:nth-child(1) {
    transform: rotateY(0deg) translateZ(450px);
  }
  .gallery_box_in:nth-child(2) {
    transform: rotateY(42.8deg) translateZ(450px);
  }
  .gallery_box_in:nth-child(3) {
    transform: rotateY(85.6deg) translateZ(450px);
  }
  .gallery_box_in:nth-child(4) {
    transform: rotateY(128.4deg) translateZ(450px);
  }
  .gallery_box_in:nth-child(5) {
    transform: rotateY(171.2deg) translateZ(450px);
  }
  .gallery_box_in:nth-child(6) {
    transform: rotateY(214deg) translateZ(450px);
  }
  .gallery_box_in:nth-child(7) {
    transform: rotateY(256.8deg) translateZ(450px);
  }
  .gallery_box_in:nth-child(8) {
    transform: rotateY(299.6deg) translateZ(450px);
  }
}
@media (max-width: 1199px) {
  .gallery_box_in:nth-child(1) {
    transform: rotateY(0deg) translateZ(420px);
  }
  .gallery_box_in:nth-child(2) {
    transform: rotateY(42.8deg) translateZ(420px);
  }
  .gallery_box_in:nth-child(3) {
    transform: rotateY(85.6deg) translateZ(420px);
  }
  .gallery_box_in:nth-child(4) {
    transform: rotateY(128.4deg) translateZ(420px);
  }
  .gallery_box_in:nth-child(5) {
    transform: rotateY(171.2deg) translateZ(420px);
  }
  .gallery_box_in:nth-child(6) {
    transform: rotateY(214deg) translateZ(420px);
  }
  .gallery_box_in:nth-child(7) {
    transform: rotateY(256.8deg) translateZ(420px);
  }
  .gallery_box_in:nth-child(8) {
    transform: rotateY(299.6deg) translateZ(420px);
  }
}

@media (max-width: 991px) {
  .work2 {
    display: none;
  }

  .servicesText_mobile h2 {
    font-size: 50px;
    font-family: "FONTSPRING";
    margin: 30px 0 100px;
  }
  .services_card_mobile {
    display: block;
  }
  .servicesCard_wrapper_mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 40px;
  }
  .serviceCard_mobile{
    width: 48%;
  }
  .servicesCard_wrapper_mobile img {
    width: 100%;
  }
  .servicesCard {
    height: 100%;
    padding: 100px 0 0;
  }
  .servicesCardText{
    font-size: 28px;
    margin: 20px 0 40px;
  }
}

@media (max-width: 767px) {
  .servicesCard_wrapper_mobile {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 20px;
    flex-direction: column;
  }
  .serviceCard_mobile {
    width: 100%;
  }
  .servicesText_mobile h2 {
    font-size: 40px;
    margin: 30px 0 40px;
  }
 
}
